:root {
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --paragraph-color: #00000087;
}

body {
  background-color: #fcfafa;
  padding: 0;
  margin: 0;
  height: 100vh;
}

/* ======================= UTILITY CLASSES ====================== */

.full-screen {
  width: 100%;
  height: 100%;
}

.width-100 {
  width: 100%;
}

.flex-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-center-justify-between {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.flex-content-stretch {
  justify-content: stretch;
}

.hero-heading {
  font-size: 55px;
  font-weight: 600;
}

.hero-sub-heading {
  font-size: 25px;
}

.paragraph {
  color: var(--paragraph-color);
}

.freelance_business_logos:hover {
  height: "100px !important";
}

/* ------ Pulsating Button ------ */

.pulse-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  border: 1px solid red;
}

.pulse {
  position: relative;
  /* padding: 10px 20px; */
  min-width: 180px;
  width: fit-content;
  height: 25px;
  background-color: #1245595a;

  /* background-color: #124559; */
  /* background-color: #0a2e36; */
  /* background-color: #01161e; */
  /* background-color: #030027; */
  /* background-color: #151e3f; */
  border-radius: 50px;
}

.pulse .pulse-layers {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #124559;
  border-radius: inherit;
  animation: pulseAnimate 4s ease-out infinite;
  animation-delay: calc(1s * var(--i));
}

.pulse p {
  position: relative;
  color: white;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@keyframes pulseAnimate {
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

/* ========= Typography ========= */
.sub-text {
  font-size: 14px;
  color: #00000090;
}

/* ----- Tag Component ----  */
.tag:hover {
  background-color: #ffffff !important;
  border: 1px solid #12003d;
  color: #12003d !important;
  transition: 0.2s ease;
}

/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
